<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Omelette Du Fromage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Omelette</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="button-container">
      <ion-button expand="block" size="large">
        Add Recipe
        <ion-icon slot="end" name="add-circle-outline" size="large"></ion-icon>
      </ion-button>
    </div>
    <div class="button-container">
      <ion-button expand="block" size="large">
        My Recipies
        <ion-icon slot="end" name="restaurant-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="button-container">
      <ion-button expand="block" size="large">
        Search
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="button-container">
      <ion-button expand="block" size="large">
        Favorite Recipies
        <ion-icon slot="end" name="heart-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
